{% extends 'base.html' %}

{% block title %}
    About Us
{% endblock title%}

{% block head %}
    <h1>About Us</h1>       

{% endblock head %}

{% block body %}
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">
      
              <div class="row">
                <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                  <img src="static/assets/img/about.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                  <p class="fst-italic">
                    Known For The Unrivaled Success Of Providing State-Of-The-Art Equipment And Fitness Knowledge With A Globally Proven Fitness Training Module And With Certified Trainers And Nutritional Counseling We Have Had A Comprehensive Approach To The Overall Health And Wellbeing Of The Members.
                  </p>
                  <ul>
                    <li><i class="ri-check-double-line"></i> Our gym is fully equipped with top-of-the-line cardio machines, free weights, and strength training equipment to help you reach your fitness goals. We also have a dedicated stretching and functional training area.</li>
                    <li><i class="ri-check-double-line"></i> Our class schedule includes a variety of options such as high-intensity interval training, yoga, and spinning. We also offer personal training sessions with certified trainers to help you achieve your specific fitness goals.</li>
                    <li><i class="ri-check-double-line"></i> We offer a range of membership options to suit your needs, from a basic monthly membership to a more comprehensive package with added perks such as discounts on personal training sessions and guest passes.</li>
                  </ul>
                </div>
              </div>
      
            </div>
          </section><!-- End About Section -->

              <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
            <div class="image col-lg-6" style='background-image: url("static/assets/img/features.jpg");' data-aos="fade-right"></div>
            <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
              <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
                <i class="bx bx-receipt"></i>
                <h4>Equipment and Facilities:</h4>
                <p>State-of-the-art cardio and weightlifting equipment, a wide range of free weights and resistance machines, dedicated stretching and functional training area.</p>
              </div>
              <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                <i class="bx bx-cube-alt"></i>
                <h4>Group Fitness Classes:</h4>
                <p>A diverse class schedule including yoga, Pilates, and high-intensity interval training (HIIT), led by certified and experienced instructors, virtual classes available for members.</p>
              </div>
              <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                <i class="bx bx-images"></i>
                <h4>Personal Training and Small Group Training:</h4>
                <p>One-on-one personal training with certified trainers, small group training options for a more personalized and cost-effective experience, nutrition and wellness coaching available.</p>
              </div>
              <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                <i class="bx bx-shield"></i>
                <h4>Amenities:</h4>
                <p>Clean and well-maintained locker rooms with showers, on-site childcare for members, towel service and complimentary water stations.</p>
              </div>
            </div>
          </div>
  
        </div>
      </section><!-- End Features Section -->
{% endblock body %}